// COLORS
$color-primary: rgb(21, 137, 204);
      
$color-primary-light: rgb(107, 178, 219);
$color-primary-dark: rgb(9, 78, 124);
$color-primary-grey: rgba(252, 253, 253, 0.87);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Border
$round-small: 3px;
$round-medium: 10px;
$round-large: 20px;
$round-huge: 100px;