.story {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
    background-color: rgba($color-white, .8);
    border-radius: $round-huge;
    padding: 9rem;
    color: rgba($color-black, .8);
    font-size: $default-font-size;
    transform: skewX(-12deg);
    backface-visibility: hidden;

    @include respond(tab-port) {
        border-radius: $round-medium;
        width: 100%;
        padding: 6rem 4rem 4rem 4rem;
        transform: skewX(0deg);
        
    }

    @include respond(phone) {
        padding-top: 4rem;
        transform: skewX(0deg);
        border-radius: 3px;
    }
    
    &__shape {
        position: relative;
        backface-visibility: hidden;
        transition: all .9s ease;
        width: 15rem;
        height: 15rem;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        transform: translate(-3rem, -1.5rem) skewX(12deg) scale(1);
               
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            clip-path: circle(50% at 50% 50%); // this creates a real circle from original shape using clip.
            -webkit-clip-path: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%); //defining where the content should float around the shape
            -webkit-shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
        
        @include respond(tab-port) {
        margin-right: 2rem;
        transform: skewX(0deg);
        border-radius: 0;
        }

        @include respond(phone) {
            margin-right: 2rem;
        transform: skewX(0deg);
        border-radius: 0;
        }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.3);
         transition: all .9s ;
          backface-visibility: hidden;

    }

    &__text {
        transform: skewX(12deg);

        @include respond(tab-port) {
           
            transform: skewX(0deg);
             padding-left: 6rem;
        }
        
        @include respond(phone) {
            padding-left: 6rem;
        transform: skewX(0deg);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.6rem;
        opacity: 0;
        transition: all .9s ;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        // font-size: 1.7rem;
         backface-visibility: hidden;
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1.3);
        -webkit-filter: blur(5px) sepia(90%) brightness(80%);
      
    }

    &:hover &__shape {
        transform: translate(-3rem, -1.5rem) skewX(12deg) scale(.96);
    }
}